@charset "UTF-8";
@font-face {
  font-family: rubikBold;
  src: url(../webfonts/Rubik-Bold.ttf);
}
@font-face {
  font-family: rubikMedium;
  src: url(../webfonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubikRegular;
  src: url(../webfonts/Rubik-Regular.ttf);
}

body {
  font-family: "rubikRegular";
  font-size: 14px;
}

.navbar-brand {
  font-size: 24px;
  font-family: "rubikMedium";
  color: white !important;
}

.walt-btn {
  display: inline-flex;
  padding: 16px 26px !important;
  font-family: "rubikMedium";
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 1.72px;
  transition: color 0.15s linear 0s, background-color 0.15s linear 0s;
  border: 3px solid transparent;
}

.walt-btn-blue {
  background-color: #1232B1;
  color: #fff !important;
}

.walt-btn-blue:hover {
  color: #1232B1 !important;
  background-color: white;
  border: 3px solid rgba(18, 50, 177, .5);
  box-shadow: 0px 3px 6px #00000029;
}

.walt-btn-white {
  color: #1232B1 !important;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
}

.walt-btn-white:hover {
  background-color: #1232B1;
  color: #fff !important;
  box-shadow: 0px 3px 6px rgba(18, 50, 177, .5);
  border: 3px solid rgba(255, 255, 255, 0.5);
  box-sizing: content-box;
}

.banner-area {
  width: 100%;
  height: 100vh;
}

.hero-section {
  position: relative;
}

.circle-blue {
  width: 1196px;
  height: 1196px;
  background-color: #1232B1;
  border-radius: 50%;
  position: absolute;
  left: -236px;
  top:  -550px;
  border: 40px solid #90b2f6;
}

.navbar {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 24px;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "rubikBold";
}

.padding-212 {
  padding-top: 140px;
}

h3 {
  font-size: 24px;
  width: 80%;
  color: rgba(255, 255, 255, 0.85);
  margin-top: 4px;
  font-family: "rubikMedium";
  margin-bottom: 24px;
}

.banner-img {
  padding-top: 50px;
}

.banner-img img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.section-padding {
  padding-top: 90px;
  padding-bottom: 90px;
  border-top: .5px solid #eee;
  background-color: #eee;
}

.instruction-main {
  font-size: 32px;
  font-family: "rubikBold";
  margin-bottom: 4px;
}

.instruction-minor {
  font-size: 18px;
  font-family: "rubikRegular";
  color: rgba(0, 0, 0, .6);
  margin-bottom: 32px;
}

.form-label {
  color: #1232B1;
  font-family: "rubikMedium";
  margin-bottom: 8px;
  font-size: 14px;
}

.form-control {
  font-family: "rubikRegular";
}


.mg-bottom-32{ 
  margin-bottom: 32px;
}

.mg-top-18 {
  margin-top: 18px;
}

.footer {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #1232B1;
  background-color: #E2E5F2;
  font-size: 18px;
  font-family: "rubikMedium";
}

.loader{
  border: 2px solid #f3f3f3;
  -webkit-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
  border-top: 2px solid #1232B1;
  border-radius:50%;
  width:20px;
  height:20px;
  margin:0 auto
}

@-webkit-keyframes spin{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}
@keyframes spin{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}

.modal-title {
  font-size: 18px;
}

.tabContent {
  display: none !important;
}

.active.tabContent {
  display: flex !important;
}

.tabContent h3, .tabContent h4 {
  padding-left: 16px;
  color: grey;
}

.tabContent h4 {
  font-size: 16px;
  width: 100%;
  margin-bottom: 50px;
}

.margin-top-20 {
  margin-top:  20px;
}

#hideLoader {
  display: none;
}

#ajaxContent {
  text-align: center;
}

#ajaxContent h3 {
  width: 100%;
  color: grey;
  font-size: 18px
}

#ajaxContent h2 {
  font-size: 24px;
  color: #1232B1;
  font-weight: bold;
}

#modalPosition {
  color: #1232B1;
}